/* Import Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:wght@100&display=swap');
@import url('https://unicons.iconscout.com/release/v4.0.8/css/line.css');

/* Your other CSS styles go here */
/* *pt-sans-regular {
    font-family: "PT Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    
}
.nav{
    background:blue;
} */ 